.build-entry {
    border: 1px solid #aaa;
    margin: 20px auto;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    max-width: 750px;
    background-color: #00000066;
}

.build-entry table {
    width: 100%;
    border-collapse: collapse;
}


.build-entry th {
    text-align: left;
    width: 150px;
    padding: 6px;
    background-color: #eaeaea61;
}

.build-entry td {
    padding: 6px;
}

.build-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #00000080;
  padding: 10px;
  font-weight: bold;
  font-size: 1.1em;
  border: 1px solid #ccc;
  border-radius: 6px 0 0 0;
}


.notes-cell {
    vertical-align: top;
    width: 250px;
    padding-left: 15px;
}

#music-player {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 999; /* Note: This makes it layered on top of everything */
}

#music-toggle {
    padding: 6px 12px;
    font-size: 14px;
}

#music-button-wrapper {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 999;
}

#music-toggle {
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 6px;
    background-color: #444;
    color: white;
    border: none;
    cursor: pointer;
}
